{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set pageHeading = "Range Surgery" %}
{% set pageDescription = "Received today at 1:02pm" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

      <div class="nhsuk-u-margin-bottom-7">
        <p>Dear <span class="app-u-text-capitalize">Alex</span>, We would like to know how the change in prescription is going and whether it's made a change in the frequency and severity of your headaches.</p>
      </div>

      <hr>

      <h2 id="messageSent" tabindex="-1" class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Your reply has been sent</h2>
      <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-5">Delivered today at 2:28pm</p>

      <figure style="margin:0;">
        <figcaption>Your voice note:</figcaption>
        <audio controls src="/shared-assets/audio/t-rex-roar.mp3"></audio>
        <p><a href="/shared-assets/audio/t-rex-roar.mp3"> Read transcript</a></p>
      </figure>

      <p class="nhsuk-u-secondary-text-color">If circumstances change, <a href="#">contact Range Surgery</a>.</p>

    </div>
  </div>

  {% endblock %}