{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/messages/your-messages" %}

{% set pageHeading = "Portland Street Great Westood Surgery" %}
{% set pageDescription = "Received today at 1:02pm" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

      <div class="nhsuk-u-margin-bottom-7">
        <p>We have reviewed the symptoms that you sent and think that the best course of action is for you to book a blood test to check for X, Y and Z.
        </p>

        <p><a href="book">Book a blood test</a></p>
      </div>

    </div>
  </div>

  {% endblock %}
